*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
} 

body {
    font-family: 'Montserrat', sans-serif;
    background: #f7f7f7;
    box-sizing: border-box;
}

.header {
    height: 12vh;
}

.logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;
}

.header-logo{
    height: 4rem;
    
}

.profile-row {
    display: flex;
    justify-content: space-around;
    visibility: hidden;
    max-height: 0;
    margin: 0 20rem 4rem;
}

.row--show {
    max-height: 500px;
    visibility: visible;
    transition: max-height 0.50s ease-out,
        visibility 0s linear 300ms
}

.row-employee {
    font-size: 1.8rem;
    width: 25%;
    height: 30rem;
    float: left;
    background-color: white;
    box-shadow: 0 1.5rem 4rem #E5E7E9;
    border-radius: 6px;
}

.employee-card {
    text-align: center;
    
}

.name {
    text-transform: uppercase;
    font-size: 1.8rem;
    font-weight: 800;
}

.description {
    font-size: 1.2rem;
    margin-top: 6px;
    color: grey;
}

.employee-list {
    list-style: none;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
}

.emp-img {
    width: 15rem;
    height: 15rem;
    margin: 2rem 4rem;
    border-radius: 50%;
    opacity: .5;
}

.emp-img:hover {
    opacity: 1;
}

.profile-image {
    height: 20rem;
    width: 20rem;
    margin-top: 3rem;
    border-radius: 3px;
}

