*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
} 

body {
    font-family: 'Muli', sans-serif;
    background: #f7f7f7;
    box-sizing: border-box;
}

.row {
    display: flex;
    justify-content: space-between;
    border: 1px solid pink;
    visibility: hidden;
}

.row-employee {
    font-size: 1.8rem;
    display: flex;
    border: 1px solid yellow;
    width: 30%;
    margin: 24px;
}

.row--show {
    max-height: 500px;
    visibility: visible;
    transition: max-height .7s ease-in,
        visibility 0s linear 300ms
}